@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
body {
    font-family: "Teko", sans-serif;
    background-color: #010102;
    color: #fff;
    font-size: 20px;
    overflow-x: hidden;
}

h2 {
    font-size: 40px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 99999;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 100px;
    border-right: 5px solid #fff;
    padding-right: 10px;
}

header .logo h4 {
    color: #fff;
    letter-spacing: 2px;
    padding-left: 10px;
    margin: 0;
}

.moon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.moon-section img {
    margin: 0 auto;
    max-width: 100%;
}

.ride-to-moon {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    /* ensure fully visible */
    scale: 1;
    /* initial scale */
}

.ride-to-moon h1 {
    text-align: center;
    line-height: 1;
    margin: 0;
    font-weight: 900;
    font-size: 20vw;
    text-transform: uppercase;
    line-height: 0.7;
}

.ride-to-moon h4 {
    line-height: 1.2;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 3.6vw;
    color: #a6a8a8;
    font-weight: 300;
}

.ride-to-moon h2 {
    line-height: 1;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 3.5vw;
    letter-spacing: 1px;
    line-height: 5vw;
    color: #a6a8a8;
}

.ride-to-moon .user-meta-box h5 {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: center;
    font-family: sans-serif;
    color: #a6a8a8;
}

.ride-to-moon .user-meta-box h4 {
    color: #fff;
    display: block;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    text-underline-offset: 6px;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.anikmation-bottom-icon {
    max-width: 35px;
    bottom: 50px;
    animation: 2s infinite bounce;
    -webkit-animation: 2s infinite bounce;
    -moz-animation: 2s infinite bounce;
    -o-animation: 2s infinite bounce;
}

.anikmation-bottom-icon svg {
    max-width: 25px;
    max-height: 25px;
}

.info-boxes {
    text-align: center;
    position: relative;
    z-index: 5;
    font-family: sans-serif;
}

.info-boxes .info-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-boxes .info-box p {
    background-color: #fff;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    max-width: 767px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 16px;
}

.info-boxes .info-box.heading {
    font-weight: 600;
    font-size: 32px;
}

.info-boxes .info-box+.info-box {
    margin-top: 100px;
}

.full-screen {
    height: 100vh;
}

.rocket-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rocket-images img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.journey-info {
    padding: 100px 0 0;
    background: url(../images/BG.jpg);
    animation: 120s linear infinite slide;
    background-repeat: repeat;
}

.journey-info .img-box {
    padding: 20px;
    max-width: 300px;
    min-height: 250px;
    animation: 3.5s ease-in-out infinite animation1;
}

.journey-info .img-box img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
    border: 2px solid #ffffff;
    border-radius: 10px;
    min-height: 250px;
}

.journey-info .img-box.img-1 {
    max-width: 400px;
    height: 320px;
}

.journey-info .img-box.img-2 {
    height: 250px;
}

.journey-info .img-box.img-3 {
    height: 300px;
    animation: 4s ease-in-out infinite animation2;
}

.journey-info .img-box.img-4 {
    height: 300px;
    margin-left: 20%;
    animation: 4s ease-in-out infinite animation2;
}

.journey-info .img-box.img-5 {
    height: 300px;
}

.journey-info .img-box.img-6 {
    margin: 0 auto;
    animation: 4s ease-in-out infinite animation2;
}

.journey-info .img-box.img-8 {
    min-height: 200px;
    animation: 4s ease-in-out infinite animation2;
}

.journey-info .img-box.img-8 img {
    min-height: 200px;
}

.separator {
    border-bottom: 1px dashed #ffffff;
    max-width: 767px;
    margin: 50px auto;
}

.rocket-spce-data {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    max-width: 767px;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    opacity: 0;
}

.rocket-spce-data.active {
    visibility: visible;
    opacity: 1;
}

.data-left,
.data-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.data-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 50px;
    border: 2px solid #010102;
    border-left: 0;
}

.cls-data-box {
    color: #010102;
    padding: 20px 0;
}

.cls-data-box h3 {
    font-size: 22px;
    margin: 0;
}

.cls-data-box h4 {
    line-height: 4vw;
    margin: 0;
    font-size: 2.6vw;
    font-weight: 700;
}

.cls-data-box h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
}

.cls-data-box+.cls-data-box {
    /* margin-top: 20px; */
    border-top: 1px solid #010102;
}

.arraw-svg-data-container {
    display: flex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
}

.arraw-svg-data-container.left {
    flex-direction: row-reverse;
}

.arraw-svg-data-container.dark {
    color: #010102;
}

.arraw-svg-data-container.rotate-x {
    flex-direction: column;
}

.arraw-svg-data-container.rotate-x.left {
    flex-direction: column-reverse;
}

.arraw-svg-data-container.active {
    visibility: visible;
    opacity: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.svg-arrow-container {
    width: 175px;
}

#scroll_animation_100 {
    top: 22%;
    left: 47%;
}

#scroll_animation_200 {
    top: 40%;
    left: 27%;
}

#scroll_animation_300 {
    top: 53%;
    left: 48%;
}

#scroll_animation_400 {
    top: 66%;
    left: 25%;
}

#scroll_animation_500 .svg-arrow-container {
    transform: rotate(245deg)
}

#scroll_animation_500 {
    top: 48%;
    left: 5%;
}

#scroll_animation_600 .svg-arrow-container {
    transform: rotate(260deg);
    margin-top: 20px;
}

#scroll_animation_600 {
    top: 20%;
    left: 37%;
}

#scroll_animation_700 {
    top: 45%;
    left: 50%;
}

#scroll_animation_800 .svg-arrow-container {
    transform: rotate(260deg);
    margin-left: 30px;
}

#scroll_animation_800 {
    top: 20%;
    left: 31%;
}

#scroll_animation_900 .svg-arrow-container {
    transform: rotate(260deg);
    margin-top: 30px;
}

#scroll_animation_900 {
    top: 30%;
    left: 15%;
}

#scroll_animation_1000 .svg-arrow-container {
    transform: rotate(260deg);
    margin-top: 20px;
}

#scroll_animation_1000 {
    top: 40%;
    left: 4%;
}

#scroll_animation_1100 .svg-arrow-container {
    transform: rotate(90deg);
    margin-top: 20px;
}

#scroll_animation_1100 {
    top: 40%;
    left: 60%;
}

#scroll_animation_1100 .text-ar-svg {
    margin-left: 140px;
}

.info-boxes-2 {
    position: relative;
    z-index: 999;
    text-align: center;
    position: relative;
    z-index: 5;
    font-family: sans-serif;
}

.info-boxes-2 .info-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-boxes-2 .info-box p {
    background-color: #fff;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    max-width: 767px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 16px;
}


/* .rocket-images.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
} */

@keyframes slide {
    from {
        background-position: 0 0
    }
    to {
        background-position: 100% 0
    }
}

@-webkit-keyframes animation2 {
    0%,
    100% {
        transform: translate3d(0, 0, 0)
    }
    40% {
        transform: translate3d(0, 10px, 0)
    }
}

@-webkit-keyframes animation1 {
    0%,
    100% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(10px, 10px, 0)
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translatY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-20px)
    }
}